      <div class="container">
        <div class="row hidden-xs hidden-sm">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
              <li ng-repeat="chart in charts" ng-class="{'active': current.idx == $index}" ng-click="showChart($index)"><a>{{chart.shortName}}</a></li>
            </ul>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <h4>{{current.shortName}}</h4>
            <ng-include src="current.example"></ng-include>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <tabset>
              <tab>
                <tab-heading><i class="glyphicon glyphicon-search"></i> Details</tab-heading>
                <div class="row">
                  <div class="col-md-2">
                    <p><strong>Example Tag:</strong></p>
                  </div>
                  <div class="col-md-10">
                    <code>{{current.code}}</code>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p><strong>Example Data:</strong></p>
                  </div>
                  <div class="col-md-10">
                    <p>Pretty format the data here</p>
                  </div>
                </div>
              </tab>
              <tab>
                <tab-heading><i class="glyphicon glyphicon-cog"></i> Options</tab-heading>
                <div class="row">
                  <div class="col-md-6">
                    <panel type="success">
                      <panel-title><strong>Tag:</strong> {{details[current.optRef].tag}}</panel-title>
                      <table class="table table-bordered table-striped table-condensed">
                        <tbody>
                          <tr>
                            <th>Minimum Attrbutes</th>
                            <td>
                              <ul class="list-unstyled">
                                <li ng-repeat="attr in details[current.optRef].requiredAtts"><span ng-click="current.attribute = attr" class="tip text-primary">{{attr}}</span></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <th>Optional Attrbutes</th>
                            <td>
                              <ul class="list-unstyled">
                                <li ng-repeat="attr in details[current.optRef].optionalAtts"><span ng-click="current.attribute = attr" class="tip text-primary">{{attr}}</span></li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </panel>
                  </div>
                  <div class="col-md-6">
                    <alert ng-hide="current.attribute" type="info"><i class="glyphicon glyphicon-chevron-left"></i> Choose an attribute from the list to learn more</alert>
                    <panel ng-show="current.attribute" type="info" title="{{current.attribute}}">
                      <panel-body>
                        <p>{{details.atts[current.attribute].short}}</p>
                        <p>{{details.atts[current.attribute].long}}</p>
                      </panel-body>
                    </panel>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
      <hr />
