<div class="row">
  <div class="col-md-4">
    <epoch-gauge gauge-value="current.options[0].data" gauge-stream="current.options[0].stream" gauge-dial-size="current.options[0].dialSize" chartRefresh="1000"></epoch-gauge>
  </div>
  <div class="col-md-3">
    <epoch-gauge gauge-value="current.options[1].data" gauge-stream="current.options[1].stream" gauge-dial-size="current.options[1].dialSize" chartRefresh="1000"></epoch-gauge>
  </div>
  <div class="col-md-3">
    <epoch-gauge gauge-value="current.options[2].data" gauge-stream="current.options[2].stream" gauge-dial-size="current.options[2].dialSize" chartRefresh="1000"></epoch-gauge>
  </div>
  <div class="col-md-2">
    <epoch-gauge gauge-value="current.options[3].data" gauge-stream="current.options[3].stream" gauge-dial-size="current.options[3].dialSize" chartRefresh="1000"></epoch-gauge>
  </div>
</div>